
<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-blue-800 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-800 dark:focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
    </svg>
 </button>
 
 <aside id="default-sidebar" class="top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 shadow-md" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-white">

      <a
      href="https://flowbite.com/"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <img src="images/logo.png" class="h-10" alt="Flowbite Logo" />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap text-blue-400 dark:text-white"
      >
        <span class="text-black">Waste</span><br /><span>Warden</span>
      </span>
    </a>
      <br><br><br>

      

       <ul class="space-y-2 font-medium">
         @for (item of menuItems; track $index) {
            <li
            [class.bg-blue-100]="selected === item.component"
            [class.hover:bg-gray-700]="selected !== item.component">
               <a class="flex items-center p-2 text-blue-800  dark:text-white hover:bg-gray-100 dark:hover:bg-gray-800 group"
               (click)="selectedMenuItem(item.component)"
               >
                @if(item.name == 'View Routes'){
                  <svg class="w-6 h-6 text-blue-800 dark:text-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 512 512">
                    <path fill-rule="evenodd" clip-rule="evenodd" [attr.d]="item.d"/>
                  </svg>
                }
                @else {
               <svg class="w-6 h-6 text-blue-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" [attr.d]="item.d" clip-rule="evenodd" />
               </svg>
              }
               <span class="flex-1 ms-3 whitespace-nowrap">{{ item.name }}</span>
               </a>
            </li>
         }
       </ul>
    </div>
 </aside>
