<div class="flex h-screen">
    <app-sidebar class="flex-none" (menuItemSelected)="onMenuItemSelected($event)"></app-sidebar>
    <div class="flex flex-col flex-grow">
      <app-navbar class="flex-none" [selectedComponent]="selectedComponet"></app-navbar>
      <main class="flex-grow p-4 bg-gray-100 overflow-auto">
            @switch (selectedComponet) {
            @case ('map') {
              <app-map></app-map>
            }
            @case ('Bin Management') {
                <app-bin-management></app-bin-management>
            }
            @case ('Send Notification') {
                <app-messaging></app-messaging>
            }
            @case ('Manage Report') {
                <app-report-management></app-report-management>
            }
            @case ('View Routes') {
                <app-collection-route-viewer></app-collection-route-viewer>
            }
            @case ('profile') {
              <app-profile></app-profile>
            }
            @case('Create Truck') {
              <app-create-truck></app-create-truck>
            }
            @default {
                <app-map></app-map>
            }
            }    
      </main>
    </div>
  </div>